shamefully-hoist=true
trust-policy=no-downgrade
trust-policy-exclude[]=semver@6.3.1
trust-policy-exclude[]=undici
trust-policy-exclude[]=chokidar@4.0.3
trust-policy-exclude[]=langium@3.3.1
trust-policy-exclude[]=@octokit/plugin-paginate-rest@9.2.2
trust-policy-exclude[]=@octokit/endpoint@9.0.6